.title {
  font-family: 'Mohave', sans-serif;
  font-weight: Bold;
  font-size: 36px;
  color: #000000;
  letter-spacing:0;
  line-height: 51px;
  opacity: 1;
  margin: 108px 633px 40px 601px;
}
.gri {
  display: grid;
  grid-template-columns: 280px 280px;
  grid-template-rows: 69px 69px 69px;
  grid-gap: 40px;
  margin: auto 360px auto 400px;
 
}
.gri label{
  font-family: 'Inter';
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  letter-spacing: 0px;
  line-height: 24px;
  opacity: 1;
}
.gri input{
  height: 40px;
  width: 280px;
  border: 1px solid #A7A9AB;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  
}

.text {
  color: #777;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #4979ff;
  border-radius: 4px;
  color: white;
 /*  text-align: center; */
  justify-content: center;
  align-items: center;
}





/* @media (max-width: 1360px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
